$color-white: #fff;
$color-white-fade: rgba(255, 255, 255, 0.6);
$color-dark-blue: #001a41;
$color-light-blue: #e8eef1;

$very_dark_violet: hsl(260, 8%, 14%);
$very_dark_blue: hsl(255, 11%, 22%);
$gray: hsl(0, 0%, 75%);
$cyan: hsl(180, 66%, 49%);
$dark_violet: hsl(257, 27%, 26%);
$red: hsl(0, 87%, 67%);
$grayish_violet: hsl(257, 7%, 63%);

$very_light_blue: hsl(180, 22%, 90%);
$light_blue: hsl(192, 100%, 45%);
$white: hsl(0, 0%, 100%);
