@import '@styles/base';
* {
  box-sizing: border-box;
}
.containerBase {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  @include apply-at-sm-size-max {
    max-width: 700px;
    min-width: 300px;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .sectionOne {
      width: 100%;
      display: flex;
      flex-direction: column;
      .dekstop {
        @include apply-at-sm-size-max {
          display: none;
        }
      }
      .mobile {
        width: 100%;
        display: none;
        @include apply-at-sm-size-max {
          display: flex;
          flex-direction: row-reverse;
          position: fixed;
          height: 100px;
          display: block;
          z-index: 2;
        }
        .menuMobile {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          background-color: $white;
          height: 80px;
          padding: 10px;
          .mobileToogle {
            width: 50px;
            height: 50px;
            // margin: 10px;
            border-radius: 9px;
          }
          .mobileLeft {
            padding: 10px;
          }
          .mobileRight {
            display: flex;
            flex-direction: row;
            justify-content: end;
            gap: 15px;
          }
        }
        .mobileContainer {
          width: 100%;
          margin: auto;
          color: white;
          border-radius: 10px;
          gap: 10px;
          img {
            height: 50px;
          }
        }

        .topnav {
          overflow: hidden;
          background-color: #333;
          position: relative;
          width: 100%;
          padding: 10px;
          border-radius: 4px;
        }

        .topnav #myLinks {
          display: none;
        }

        .topnav a {
          color: white;
          padding: 14px 16px;
          text-decoration: none;
          font-size: 17px;
          display: block;
        }

        .topnav a.icon {
          background: cyan;
          display: block;
          position: absolute;
          right: 0;
          top: 0;
        }

        .topnav a:hover {
          background-color: #ddd;
          color: black;
        }

        .active {
          background-color: #04aa6d;
          color: white;
        }
      }
      .header {
        padding-left: 10%;
        width: 100%;
        height: 80px;
        padding-top: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: $grayish_violet;
        font-size: 0.8rem;
        font-weight: bold;
        position: fixed;
        background-color: $white;
        z-index: 2;
        .logo {
          margin-top: 15px;
          margin-right: 20px;
          @include apply-at-sm-size-max {
            margin-left: 10%;
          }
        }
        .left {
          display: flex;
          flex-direction: row;
          gap: 30px;
          padding: 10px;
          margin-top: 5px;
          @include apply-at-sm-size-max {
            display: none;
          }
        }
        .right {
          width: 30%;
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 20px;
          // padding: 10px;
          margin-top: 1px;
          margin-right: 50px;
          position: absolute;
          right: 1%;
          height: 70%;
          @include apply-at-sm-size-max {
            display: none;
          }
          .login {
            padding: 8px;
          }
          .signup {
            padding: 8px;
            border-radius: 15px;
            background-color: $light_blue;
            color: $white;
            font-weight: bold;
            border-color: $white;
          }
          .locale {
            background-color: $light_blue;
            color: black;
            border-radius: 10px;
            padding: 10px;
            height: 100%;
            @include apply-at-sm-size-max {
              padding: 10px;
            }
            .toggle {
              display: flex;
              flex-direction: row;
              gap: 2px;
              @include apply-at-sm-size-max {
                gap: 0px;
              }
              .avatar {
                width: 30px;
                height: 30px;
              }
            }
          }
        }
      }
      .home {
        width: 80%;
        margin-left: 10%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 150px;
        @include apply-at-sm-size-max {
          display: flex;
          flex-direction: column-reverse;
        }
        .left {
          display: flex;
          flex-direction: column;
          gap: 20px;
          width: 60%;
          padding: 10px;
          color: grey;
          @include apply-at-sm-size-max {
            align-items: center;
            width: 100%;
          }
          .title {
            font-weight: bold;
            font-size: 2.5rem;
            color: $very_dark_blue;
            width: 80%;
            @include apply-at-sm-size-max {
              width: 100%;
              text-align: center;
            }
          }
          .subtitle {
            width: 80%;
            @include apply-at-sm-size-max {
              width: 80%;
              text-align: center;
            }
          }
          .getStarted {
            button {
              padding: 10px;
              border-radius: 15px;
              background-color: $light_blue;
              color: $white;
              font-weight: bold;
              border-color: $white;
              @include apply-at-sm-size-max {
                align-items: center;
              }
            }
          }
        }
        .right {
          width: 40%;
          @include apply-at-sm-size-max {
            width: 100%;
          }
          img {
            width: 120%;
            @include apply-at-sm-size-max {
              width: 100%;
            }
          }
        }
      }
    }
    .sectionTwo {
      width: 100%;
      background-color: $very_light_blue;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 200px;
      height: auto;
      @include apply-at-sm-size-max {
        margin-top: 100px;
      }
      .containerInput {
        margin-top: -50px;
        width: 70%;
        min-height: 150px;
        max-height: auto;
        background-color: $dark_violet;
        background-image: url('/src/static/images/bg-boost-desktop.svg');
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 15px;
        border-radius: 9px;
        @include apply-at-sm-size-max {
          width: 80%;
          display: flex;
          flex-direction: column;
          min-height: 200px;
        }
        input {
          width: 70%;
          height: 50px;
          border-radius: 8px;
          padding: 5px;
        }
        button {
          padding: 10px;
          border-radius: 8px;
          background-color: $light_blue;
          color: $white;
          font-weight: bold;
          border-color: $white;
          height: 50px;
          @include apply-at-sm-size-max {
            width: 72%;
          }
        }
      }
      .errorMessage {
        width: 60%;
        min-height: 40px;
        color: red;
        height: auto;
        margin-top: -30px;
        font-size: 0.7rem;

        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-left: 50px;
        @include apply-at-sm-size-max {
          margin-left: 20px;
        }
      }

      .dataContainer {
        display: flex;
        flex-direction: column;
        width: 70%;
        padding: 5px;
        height: auto;
        .dataShort {
          max-width: 100%;
          border-radius: 8px;
          margin-top: 20px;
          background-color: white;
          display: flex;
          flex-direction: row;
          gap: 10px;
          align-items: center;
          height: auto;
          padding: 8px;
          @include apply-at-sm-size-max {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;
          }
          .original {
            color: black;
            width: 60%;
            height: auto;
            font-size: 0.8rem;
            @include apply-at-sm-size-max {
              width: 100%;
              height: auto;
              text-align: center;
              word-wrap: break-word;
            }
          }
          .short {
            width: 25%;
            color: $light_blue;
            font-size: 0.9rem;
            @include apply-at-sm-size-max {
              width: 100%;
              text-align: center;
            }
          }
          .copy {
            width: 15%;
            display: flex;
            flex-direction: row;
            button {
              padding: 10px;
              border-radius: 8px;
              background-color: $light_blue;
              color: $white;
              font-weight: bold;
              border-color: $white;
            }
            .delete {
              background-color: red;
            }
            .copied {
              background-color: $very_dark_blue;
            }
            @include apply-at-sm-size-max {
              width: auto;
              text-align: center;
            }
          }
        }
      }
      .statistics {
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 20px;
        font-size: 1rem;
        @include apply-at-sm-size-max {
          font-size: 2rem;
          margin-top: 2rem;
        }
        div {
          width: 70%;
        }
        .title {
          font-weight: bold;
          color: $very_dark_violet;
        }
        .subtitle {
          color: $grayish_violet;
          font-size: 0.8rem;
          @include apply-at-sm-size-max {
            font-size: 1rem;
          }
        }
      }
      .cardContainer {
        display: flex;
        flex-direction: row;
        gap: 20px;
        padding: 150px;
        @include apply-at-sm-size-max {
          display: flex;
          flex-direction: column;
          gap: 30px;
          width: 100%;
          align-items: center;
        }
        .line {
          width: 65%;
          height: 8px;
          position: absolute;
          background-color: $light_blue;
          margin-top: 150px;
          @include apply-at-sm-size-max {
            width: 2%;
            height: 500px;
            text-align: center;
            margin-left: 5%;
          }
        }
        .card1,
        .card2,
        .card3 {
          background-color: $white;
          width: 100%;
          height: 300px;
          display: flex;
          flex-direction: column;
          gap: 5px;
          color: grey;
          border-radius: 8px;
          z-index: 1;
          font-size: 0.8rem;
          @include apply-at-sm-size-max {
            align-items: center;
            height: auto;
            width: 20rem;
            text-align: center;
          }
          .title {
            padding: 15px;
            color: $very_dark_violet;
            height: auto;
            width: 90%;
            font-weight: bold;
          }
          .subtitle {
            padding: 15px;
            width: 90%;
          }
          img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background-color: $very_dark_blue;
            padding: 1rem;
            margin-left: 20px;
            margin-top: -20px;
          }
        }
        .card2 {
          margin-top: 30px;
          @include apply-at-sm-size-max {
            margin-top: 60px;
          }
        }
        .card3 {
          margin-top: 60px;
        }
      }
    }
    .sectionThree {
      width: 100%;
      height: 200px;
      background-color: $dark_violet;
      background-image: url('/src/static/images/bg-boost-desktop.svg');
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      div {
        font-weight: bold;
        font-size: 1rem;
      }
      button {
        padding: 10px;
        border-radius: 15px;
        background-color: $light_blue;
        color: $white;
        font-weight: bold;
        border-color: $white;
      }
    }

    .footer {
      width: 100%;
      background-color: $very_dark_violet;
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 20px;
      height: 300px;
      @include apply-at-sm-size-max {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        text-align: center;
      }

      .footerLogo {
        width: 30%;
        text-align: center;
        font-weight: bold;
        @include apply-at-sm-size-max {
          width: 100%;
          margin-bottom: 30px;
        }
      }
      .footerMenu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 100px;
        @include apply-at-sm-size-max {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
        .icon {
          display: flex;
          flex-direction: row;
          gap: 20px;
          padding: 10px;
        }
        .footerGroupMenu {
          display: flex;
          flex-direction: column;
          gap: 30px;
          font-size: 0.8rem;
          .mainTitle {
            font-weight: bold;
          }
        }
      }
    }
  }
}
